{% for secret in k3s.bootstrap_secrets %}

---
kind: Secret
apiVersion: v1
type: Opaque
metadata:
  name: "{{ secret.name }}"
  namespace: "{{ secret.namespace }}"
data:
  {% for item in secret.data %}
  {{ item.name }}: {% if item.generate is defined and item.generate %}{{ lookup('ansible.builtin.password', '/dev/null', length=item.length | default(12) ) | b64encode }}{% else %}{{ item.value | b64encode }}{% endif %}

  {% endfor %}
{% endfor %}